--- name:default
# the envire prefix that should be used to create new maps
env_name: /traversability/
# if set to a non-empty string, save each generated environment under env_save_path/<seq number>/
env_save_path: 'foo'
# If necessary the size of the input map will be extended, such that the output always contains the provided points in world coordinates.
map_extents: []
# the map ID of the input MLS map. The terrain type information is expected to be encoded as RGB value on the MLS
mls_id: /4
# structure describing the known terrain types
terrain_info: []
# configuration parameters for the traversability transformation
traversability_conf:
  weight_force: 40.0
  force_threshold: 30.0
  class_count: 10
  min_width: 0.5
  ground_clearance: 0.3
  obstacle_clearance: 0.75
